# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

debug
node_modules
target
dist
dist-ssr
*.local
**/*.rs.bk
*.pdb
**/mutants.out*/
rustc-ice-*.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.development
.env.test
.env.production
